$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;
$x-small: 20em;
$small: 31.25em;
$medium: 50em;
$large: 75em;

$black: rgb(34,34,34);
$darkgray: rgb(101,114,122);

$cream: #ffffe5;